@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.text-white {
  color: #ffffff;
}

.text-gray-800 {
  color: #2d3748;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.bg-gray-900 {
  background-color: #1a202c;
}

.bg-gray-50 {
  background-color: #f7fafc;
}

a {
  text-decoration: none;
  transition: color 0.2s;
}


.full-height-screen{
  height: calc(100vh - 64px);
  margin-top: 64px;
}